@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

body{
    font-family: 'Poppins' sans-serif;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .order-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(5, 5, 5, 0.973);
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    margin-top: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .product-name {
    display: inline-block;
    width: 60%;
  }
  
  .product-price {
    display: inline-block;
    width: 20%;
    text-align: right;
  }
  
  .product-quantity {
    display: inline-block;
    width: 20%;
    text-align: right;
  }
  
  .place-order-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    background: #675b5c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .place-order-button:hover {
    background:#c49780;
  }